.prices {
    margin: 0 20px;
    background: white;
    padding: 0 0 2rem;

    &__info {
        height: 200px;
        // background-image: url('../img/bgprice.jpg');
        // background-repeat: no-repeat;
        // background-position: center center;
        // background-attachment: fixed;
        // -webkit-background-size: cover;
        // -moz-background-size: cover;
        // -o-background-size: cover;
        // background-size: cover;

        margin-bottom: 2rem;

        background-image: url('/img/bgprice.webp');
        background-position: center;
    }

    h2 {
        @extend %h2;
        text-align: center;
    }

    h3 {
        @extend %h3;
        text-align: center;
        color: $fc1;
    }

    &__h3 {
        @extend %h3;
        text-align: center;
        color: $fc2 !important;
    }

    p {
        @extend %p;
        color: white;
        text-align: center;
    }

    img {
        max-width: 300px;
    }

    &__flex1 {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin: -5rem 0 3rem;
    }

    &__flex2 {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 3rem;
    }
}
